/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --main-background-color: #222831;
  --secondary-color: #50555e;
  --accent-color: #d65a31;
  --base-color: #eeeeee;
}
.hero {
  padding: 160px 20px;
  background: linear-gradient(
    to right,
    var(--main-background-color) 0%,
    var(--main-background-color) 75%,
    var(--accent-color) 75%,
    var(--accent-color) 100%
  );
}

.hero h1,
h2,
p {
  margin-left: 70px;
}
.hero h1 {
  font-family: "Playfair Display", serif;
  color: var(--accent-color);
  font-size: 96px;
  line-height: 1.5;
}
.hero h2,
p {
  font-family: "Poppins", sans-serif;
}
.hero h2 {
  color: var(--secondary-color);
  max-width: 60%;
  line-height: 1.5;
  font-size: 30px;
}
.hero p {
  color: var(--base-color);
  padding-top: 30px;
  margin-bottom: 0;
  font-size: 22px;
}
.btn-branding.btn {
  background: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--base-color);
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  margin-left: 70px;
  margin-top: 25px;
}
.btn-branding.btn:hover {
  opacity: 80%;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--base-color);
}
.hero a {
  text-decoration: none;
}
@media (max-width: 576px) {
  .hero {
    background: var(--main-background-color);
  }
  .hero h1 {
    text-align: center;
    margin-left: 0;
  }
  .hero p {
    text-align: center;
    margin-left: 0;
  }
  .hero h2 {
    display: block;
    text-align: center;
    font-size: 24px;
    max-width: 90%;
    margin: auto 10px;
  }
  .btn-branding.btn {
    display: block;
    margin: 40px 95px;
  }
}
