/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
}
