/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --main-background-color: #222831;
  --secondary-color: #50555e;
  --accent-color: #d65a31;
  --base-color: #eeeeee;
}
.hero h2 {
  font-family: "Playfair Display", serif;
  text-align: start;
  color: var(--main-background-color);
}
.hero p {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
  text-align: start;
}
.continue {
  background-color: var(--base-color);
  font-size: 40px;
  text-align: center;
  padding-top: 15px;
  color: var(--secondary-color);
}
.content {
  background-color: var(--base-color);
  padding-top: 100px;
}
.hero {
  padding: 150px 20px;

  background: linear-gradient(
    to right,
    var(--main-background-color) 0%,
    var(--main-background-color) 75%,
    var(--accent-color) 75%,
    var(--accent-color) 100%
  );
}

.hero h1,
h2,
p {
  margin-left: 70px;
}
.hero h1 {
  font-family: "Playfair Display", serif;
  color: var(--accent-color);
  font-size: 96px;
  line-height: 1.5;
}
.hero h2,
p {
  font-family: "Poppins", sans-serif;
}
.hero h2 {
  color: var(--secondary-color);
  max-width: 60%;
  line-height: 1.5;
  font-size: 30px;
}
.hero p {
  color: var(--base-color);
  padding-top: 30px;
  margin-bottom: 0;
  font-size: 22px;
}
.btn-branding.btn {
  background: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--base-color);
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  margin-left: 70px;
  margin-top: 25px;
}
.btn-branding.btn:hover {
  opacity: 80%;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--base-color);
}
.hero a {
  text-decoration: none;
}

.btn.btn-branding-outline {
  background: white;
  border-color: var(--accent-color);
  color: var(--accent-color);
  padding: 10px 25px;
  font-size: 18px;
  line-height: 27px;
  max-width: 50%;
  margin: 0 auto;
}
.btn.btn-branding-outline:hover {
  background: #d65a3119;
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.about-hero {
  padding: 150px 20px;

  background-color: var(--base-color);
}
.about-hero h1 {
  font-size: 34px;
  font-family: "Playfair Display", serif;
  padding-top: 10px;
}
.about-hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 5px;
  color: var(--secondary-color);
}
.about-hero p {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 5px;
  font-size: 14px;
}
.about-hero a {
  text-decoration: none;
}
.about-hero .col-md-6 .btn-branding {
  background: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--base-color);
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;

  margin-top: 25px;
}
@media (max-width: 576px) {
  .hero {
    background: var(--main-background-color);
  }
  .hero h1 {
    text-align: center;
    margin-left: 0;
  }
  .hero p {
    text-align: center;
    margin-left: 0;
  }
  .hero h2 {
    display: block;
    text-align: center;
    font-size: 24px;
    max-width: 90%;
    margin: auto 10px;
  }
  .btn-branding.btn {
    display: block;
    margin: 50px 80px 0px;
  }
  .container p,
  h2 {
    text-align: center;
    margin: 0 20px;
  }
  .btn.btn-branding-outline {
    margin: 0 auto;
  }
  .about-hero {
    margin-top: 0;
    padding-top: 30px;
  }
  .about-hero h2 {
    font-size: 14px;
  }
  .about-hero .col-md-6 .btn-branding {
    display: block;
    margin: 0 40px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
